@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --white: #EEEEEE;
    --dark-blue: #476072; 
    --blue: #548CA8;
    --p-24: 24px;
    --mt-120: 120px;
    --fs-56:56px;
    --fs-24:24px;
    --fs-14:14px;
}

@media (max-height: 800px) {
    img.project-image__img {
        height: 60vh !important;
        width: 100% !important;
    }
}

@media (min-width: 1064px){
    .title-name {
        text-align: left !important;
    }
    .subtitle {
        text-align: left !important;
    }
    
    .profile-info {
        flex-basis: 50% !important; 
    }
    
    .profile-img {
        display: block !important;
    }
    .project-image__img {
        width: fit-content !important;
    }
}

@media (min-width: 555px){
    .profile-details {
        justify-content: space-between !important;
        flex-direction: row !important;
    }

    .title-name {
        font-size: var(--fs-56) !important;
    }

    .project-title {
        font-size: var(--fs-24) !important;
    }
    .project-name {
        font-size: var(--fs-24) !important;
    }
    .project-description {
        font-size: var(--fs-14) !important;
    }
    .project-tech-stack {
        font-size: var(--fs-14) !important;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
}

.container {
    max-width: 1192px;
    margin: 0 auto;
    padding: var(--p-24);
}

.nav__container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.nav__list {
    display: flex;
    gap: var(--p-24);
    color: var(--dark-blue);
    font-weight: 700;
}

.nav-item {
    color: var(--dark-blue);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid 2px var(--white);
    transition: all .2s;
}

.nav-item:hover {
    border-bottom: solid 2px var(--dark-blue);
    color: var(--dark-blue);
}

.nav-item:active {
    color: var(--blue);
    border-bottom: solid 2px var(--blue);
}

.container__header {
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.h1 {
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 4vh;
}

.title-name {
    font-size: 28px;
    text-align: center;
}

.title-project {
    font-size: 28px;
    margin: 118px 0 32px;
}

.subtitle {
    text-align: center;
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: regular;
    margin-bottom: 6vh;
}
.btn-cv {
    display: block;
    background: var(--blue);
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    border: solid 2px var(--blue);
    cursor:pointer;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    margin-bottom: 6vh;
    transition: all .3s;
    border-radius: 6px;
}

.btn-cv:hover {
    background: var(--dark-blue);
    border: solid 2px var(--dark-blue);
}

.btn-cv:active {
    color: var(--dark-blue);
    background: var(--white)
}

.profile-info {
    flex-basis: 100%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}

.profile-detail__title {
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

.profile-detail__subtitle {
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
}

.profile-detail-experience__subtitle {
    margin-top: -12px;
    font-size: 40px;
}

.profile-img {
    max-width: 485px;
    min-width: 240px;
    display: none;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 18px;
}

.project-container {
    border: solid 2px #47607212;
    border-radius: 20px 100px 20px 20px;
    transition: all .3s;
}

.project-container:hover {
    border: solid 2px #476072;
}

.project-container:hover .project-text {
    bottom: 20px;
    left: 12px;
    opacity: 1;
}

.project-container:hover .project-image__img {
    /* -webkit-filter: blur(2px);
    filter: blur(2px); */
    border-radius: 20px 100px 20px 20px;
}

.project-container:hover .project-image__img-overlay {
    background: #eeeeeef5;
}

.project-container:hover .project-title {
    visibility: hidden;
    opacity: 0;
    margin-top: -50px;
}

.project-image {
    margin: 12px;
    position: relative;
    border-radius: 20px 100px 20px 20px;
}
.project-image__img {
    border-radius: 20px;
    object-fit: cover;
    /* filter: blur(0); */
    width: 100%;
    height: 500px;
    transition: all .3s;
}

.project-image__img-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(51, 66, 87, 0);
    border-radius: 20px 100px 20px 20px;
    width: 100%;
    height: 100%;  
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.project-text {
    position: absolute;
    bottom: 6px;
    left: 12px;
    line-height: 180%;
    opacity: 0;
    transition: all .3s;
}

.project-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--blue);
    padding: 12px;
    width: 80%;
    line-height: 150%;
    transition: all .3s;
}

.project-name {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    color: var(--blue)
}
.project-description {
    font-size: 12px;
    font-weight: 600;
    color: var(--dark-blue)
}
.project-tech-stack {
    font-size: 12px;
    font-weight: 700;
    color: var(--dark-blue)
}

.anchor {
    color: var(--blue);
    font-weight: 700;
}

.skill-list {
    font-size: 14px;
    font-weight: regular;
    color: var(--blue);
    line-height: 180%;
}

.skill-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 180%;
}

.footer-text {
    color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

footer {
    margin-top: 240px !important;
}